@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.bg-primary {
	background:#1D4ED8;
}

.bg-secondary {
	background:#818CF8;
}

.bg-green {
	background:#10B981;
}

.chip-light {
	background:#eeeeee;
	padding:5px 15px;
	border-radius: 20px;
}

.chip-medium {
	background:#D1D5DB;
	padding:5px 15px;
	border-radius: 15px;
}

.text-medium {
	color:#D1D5DB;
}
.text-success {
	color:#10B981;
}

.text-danger {
	color:#EF4444;
}


.border-bottom {
	padding:5px 0px;
	margin: 5px 0px;
	border-bottom: 1px solid #eeeeee;
}

.top-spacer {
	padding-top:64px;
}

.bottom-spacer {
	padding-bottom:0px;
}

.max-width {
	width:100%;
	max-width: 768px;
}

.nav-bg {
	/*background: #f56011;*/
	background: #000000;
}

.showcase-logo {
	color:#ffffff;
	font-weight:900!important;
	font-size:24px;
	font-family: 'Montserrat', sans-serif!important;
	line-height:24px;
	text-transform: uppercase;
}

.location-tab {
	background:#000000;
	color:#cccccc;
	border:0px solid #cccccc;
	padding: 5px 5px;
	font-size:14px;
	margin-right:1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;	
}

.active-location-tab {
	background:#cccccc;
	color:#000000;
	border:0px solid #cccccc;
	padding: 5px 5px;
	font-size:14px;
	margin-right:1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;		
}

.secondary-button {
	background:#cccccc;
	color:#000000;
	border:0px solid #cccccc;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.text-dark {
	color:#232220;
}

.text-title {
	color:#cccccc;
	font-weight:900!important;
	font-family: 'Montserrat', sans-serif!important;
	font-size: 18px;
}

.text-venue {
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.text-date {
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.ticket-button {
	color:#ffffff;
	border:2px solid #ffffff;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.buy-now-button {
	background: #f56011;
	color:#000000;
	border:2px solid #000000;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.booking-button {
	background: #000000;
	color:#ffffff;
	border:2px solid #ffffff;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;	
}

.back-button {
	background: #000000;
	color:#cccccc;
	border:2px solid #cccccc;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;	
}

.ticket-number-button {
	color:#000000;
	border:2px solid #000000;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.sm-logo {
	color:#232220;
	font-weight:900!important;
	font-size:14px;
	font-family: 'Montserrat', sans-serif!important;
	line-height:14px;
	text-transform: uppercase;
	text-align:center;
}

.lg-logo {
	color:#232220;
	font-weight:900!important;
	font-size:24px;
	font-family: 'Montserrat', sans-serif!important;
	line-height:24px;
	text-transform: uppercase;
}

.section-title {
	color:#FFFFFF;
	font-weight:600!important;
	font-size:24px;
	font-family: 'Montserrat', sans-serif!important;
	line-height:24px;
}

.concert-title {
	color:#FFFFFF;
	font-weight:600!important;
	font-size:18px;
	font-family: 'Montserrat', sans-serif!important;
	line-height:20px;
	margin-bottom:10px;
}

.artist-name {
	display:inline-block;
	margin-right:5px;
	margin-bottom:5px;
	color:#FFFFFF;
	font-weight:400!important;
	font-size:16px;
	font-family: 'Montserrat', sans-serif!important;
	line-height:18px;
	background:#202020;
	padding: 5px 15px;
	border-radius: 20px;
}

.thank-you-title {
	color:#FFFFFF;
	font-weight:600!important;
	font-size:24px;
	font-family: 'Montserrat', sans-serif!important;
	line-height:24px;
}

.loading {
  -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

@media only screen and (max-width: 767px) {
	.lg-logo {
		color:#232220;
		font-weight:900!important;
		font-size:18px;
		font-family: 'Montserrat', sans-serif!important;
		line-height:26px;
		text-transform: uppercase;
	}
}

@media only screen and (min-width: 768px) {
	.modal-container {
		height: 80%!important;
	}
}

@media only screen and (max-width: 1023px) {
	.big-logo {
		font-size:24px!important;
		line-height:24px!important;
	}
	.feat-bg {
		/*height:auto!important;*/
	}
	.section-title {
		font-size:18px;
		line-height:18px;
	}
}

    .bg-gray-100 {
        background-color: #f7fafc;
        background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
    }

    .border-gray-200 {
        border-color: #edf2f7;
        border-color: rgba(237, 242, 247, var(--tw-border-opacity));
    }

    .text-gray-400 {
        color: #cbd5e0;
        color: rgba(203, 213, 224, var(--tw-text-opacity));
    }

    .text-gray-500 {
        color: #a0aec0;
        color: rgba(160, 174, 192, var(--tw-text-opacity));
    }

    .text-gray-600 {
        color: #718096;
        color: rgba(113, 128, 150, var(--tw-text-opacity));
    }

    .text-gray-700 {
        color: #4a5568;
        color: rgba(74, 85, 104, var(--tw-text-opacity));
    }

    .text-gray-900 {
        color: #1a202c;
        color: rgba(26, 32, 44, var(--tw-text-opacity));
    }

    @media (prefers-color-scheme: dark) {
        .dark\:bg-gray-800 {
            background-color: #2d3748;
            background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
        }

        .dark\:bg-gray-900 {
            background-color: #1a202c;
            background-color: rgba(26, 32, 44, var(--tw-bg-opacity));
        }

        .dark\:border-gray-700 {
            border-color: #4a5568;
            border-color: rgba(74, 85, 104, var(--tw-border-opacity));
        }

        .dark\:text-white {
            color: #fff;
            color: rgba(255, 255, 255, var(--tw-text-opacity));
        }

        .dark\:text-gray-400 {
            color: #cbd5e0;
            color: rgba(203, 213, 224, var(--tw-text-opacity));
        }

    }
        
.feat-bg {
    background-color: #4B5563;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23635e6b' fill-opacity='0.6' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");*/
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
	width:100%;
	height:100vh;
	max-width: 768px;
	margin: 0px auto;
	padding: 20px 20px;
	background-color: #fff;
	border-radius: 0px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}